

hr {
    border-top: solid 1px #eee;
}

#button {
    border: none !important;
}


.m-top-1 {
    margin-top: 1rem;
}

.meta-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-link.blue, .btn-link.blue a  {
    margin-right: 0.5rem !important;
    border: none;
    background: #fff;
    color: #2288ee;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    transform: 0 0; 
}

.btn-link.red {
    margin-right: 0.5rem !important;
    border: none;
    background: #fff;
    color: #f31632;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    transform: 0 0;
}

.ui.modals {
    position: fixed;
    z-index: 1;
}


/* #modal {
    position: absolute;
    top: 50px;
    left: 0;
    right: 100px;
    bottom: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 } */