#left-menu-css {
    display: flex;
}

#header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid #eee;
}
@media(max-width: 600px) {
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #right-menu {
        margin-top: 1rem;
        margin-left: 0px !important;
    }
}