#left-menu-css {
    display: flex;
    align-items: center;
    text-align: center;
}
#logo{
    height: 45px;
    color: #d9212d;
}
#header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid #eee;
}


@media(max-width: 600px) {
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
    }
    #left-menu-css {
        flex-direction: column;
    }
    #right-menu {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 1rem auto 0;
    }
}