/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
.margin-y-1 {
  margin: 1rem 0;
}

.margin-y-2 {
  margin: 2rem 0;
}

.margin-top-1 {
  margin-top: 1rem;
}

.padding-1 {
  padding: 1rem;
}
.padding-x-1 {
  padding: 0 1rem;
}

.padding-y-1 {
  padding: 1rem 0;
}
.padding-y-2 {
  padding: 2rem 0;
}

.padding-y-4 {
  padding: 4rem 0;
}

.text-center {
  text-align: center;
}
a {
  color: #2288ee;
  text-decoration: none;
  opacity: 1;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-gray {
  border: 1px solid rgba(34, 36, 38, 0.15);
}

hr {
  border-top: solid 1px #eee;
}

/*  Buttons */

.btn-block {
  width: 100%;
}

.btn-link.blue,
.btn-link.blue a {
  margin-right: 0.5rem;
  border: none;
  background: #fff;
  color: #2288ee;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  transform: 0 0;
}

.btn-link.red {
  margin-right: 0.5rem;
  border: none;
  background: #fff;
  color: #f31632;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  transform: 0 0;
}

#user-info-button {
  background-color: #d9212d;
  color: #fff;
  border-radius: 100%;
}

.meta-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.modals {
  position: fixed;
  z-index: 1;
}

/* #modal {
  position: absolute;
  top: 50px;
  left: 0;
  right: 100px;
  bottom: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
} */

.light-gray-text {
  color: #ccc;
}

/* Header */
/* #header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: auto;
  border-bottom: 1px solid #eee;
} */

#header {
  /*  padding: 1rem 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #eee;
}

#left-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#logo {
  height: 45px;
  color: #d9212d;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}

#below-post {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.container-small {
  width: 100%;
  max-width: 650px;
  margin: auto;
}

@media (max-width: 600px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
  }

  #left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #left-menu a {
    font-size: 18px;
  }
  #right-menu {
  }

  #register-button {
    display: none;
  }

  #header {
    margin: 0.5rem 1rem 0 1rem;
  }
}

@media (max-width: 420px) {
  #below-post {
    flex-direction: column-reverse;
  }

  #show-likes {
    margin-top: 1rem;
  }
}
